.block1 {
	padding-block-start: 10px;      /* An absolute length */
	padding-block-start: 1em;       /* A length relative to the text size */
	padding-block-start: 5%;        /* A padding relative to the nearest block container's width */

	/* Keyword values */
	padding-block-start: auto;

	/* Global values */
	padding-block-start: inherit;
	padding-block-start: initial;
	padding-block-start: unset;
}