.block1 {
	padding-right: 10px;      /* An absolute length */
	padding-right: 1em;       /* A length relative to the text size */
	padding-right: 5%;        /* A padding relative to the nearest block container's width */

	/* Keyword values */
	padding-right: auto;

	/* Global values */
	padding-right: inherit;
	padding-right: initial;
	padding-right: unset;
}