.block1 {
	padding-left: 10px;      /* An absolute length */
	padding-left: 1em;       /* A length relative to the text size */
	padding-left: 5%;        /* A padding relative to the nearest block container's width */

	/* Keyword values */
	padding-left: auto;

	/* Global values */
	padding-left: inherit;
	padding-left: initial;
	padding-left: unset;
}