.block1 {
	padding-inline-end: 10px;      /* An absolute length */
	padding-inline-end: 1em;       /* A length relative to the text size */
	padding-inline-end: 5%;        /* A padding relative to the nearest block container's width */

	/* Keyword values */
	padding-inline-end: auto;

	/* Global values */
	padding-inline-end: inherit;
	padding-inline-end: initial;
	padding-inline-end: unset;
}